<div class="container-fluid fluid-background">
  <app-header class="header"></app-header>
  <!-- <div class="container-fluid"> -->
<div>
  <app-table class="table"></app-table>
<!-- </div> -->
<!-- <h1>{{headMessage}}</h1> -->
<!-- 
<table class="table table-hover">
    <thead>
        <tr>
            <th>Game Name</th>
            <th>Platform</th>
            <th>Release Date</th>
        </tr>
    </thead>
    <tbody>
    
        <tr routerLink="/info/{{game.game}}" *ngFor="let game of games; let i = index" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
          <td>{{game.game}}</td>
          <td>{{game.platform}}</td>
          <td>{{game.release}}</td>
      </tr>
    </tbody>
</table>

<div class="well well-lg">
    Selected Row : <strong>{{selectedRow}}</strong>
</div> -->
</div>



