<section class="table-section section-background">
  <br>
  <div>
    <table class="table-set">
      <tr>
        <td>
          <a href="/codingreview" class="glyphicon glyphicon-arrow-left a-text"> Back</a>

        </td>
        <td class="name-font">{{ id }}</td>
      </tr>
      <tr>
        <th></th>
        <th>Member Plan</th>
        <th>Member DOB</th>
        <th>Discharge Date</th>
        <th>Admit Date</th>
        <th>Primary DX Code</th>
        <th>Discharge Diagnosis</th>
        <th>Admit Diagnosis</th>
        <th>Admitting Facility</th>
      </tr>
      <tr>
        <td></td>
        <td>CareMore Health Plan</td>
        <td>1/7/1953</td>
        <td>11/11/2017</td>
        <td>11/11/2017</td>
        <td>E11.10 Type2 Diabetes</td>
        <td>Diabetes Mellitus</td>
        <td>Diabetes Mellitus</td>
        <td>LakeWood Regional Office</td>

      </tr>

    </table>
  </div>
  <br>
  <br>
</section>
<section class="table-section">

  <!-- -dynamic table- -->
  <div class="container">
    <!-- {{ character }} -->
    <table class="table">
      <thead>
      <tr>
        <th *ngFor="let col of columns">
          {{col}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let char of character">
        <td *ngFor="let col of columns">
          {{char[col]}}
          
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<!-- _________________________________________starting creating modal_______________________________ -->


<button type="button" id="button">Modal</button>
    <div class="overlay" id="overlay"></div>
<div class="modal" id="modal">
<app-crmodals></app-crmodals>
</div>


<!-- ______________________________________________________________________________________ -->