@import "../../../global-scss/_variables.scss";
.section-background {
    background-color:lightgray  ;
}
.a-text{
    font-size: 20px;
    text-decoration: none;
}
.table-set{
    width:100%;
    margin-left: 0px;
}
.name-font{
    font-size:25px;
}
.icon-font{
    font-size: 25px;
}
.table-section {
    color: black;
    background-color: $med-grey;
    
    .table {
        width:100%;
        margin-left: 0px;
        padding: 5px;
        width:1250px;
        margin-left:-55px; 
        margin-top:50px;
        & > thead {
            background-color: #EBEBEB;
        }
        & > thead > tr {
            border-bottom-color: $light-blue;

        }
        
        & > thead > tr > th {
            font-weight: $font-weight-medium;
            color: $light-blue;
        }
 
        & > tbody :hover{
            background-color:#9bbed8;
            
        }
        & > tbody > tr > td {
            border: 3px solid #EBEBEB;
        }
    }
}
.table-size{
    width:1250px;
    margin-left:-55px; 
    margin-top:50px;
}
.modal{
    background-color:white;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 850px;
    z-index: 1000;
    display: none;
}

.overlay{
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}
// .user-table-container {
//     display: flex;
//     flex-direction: column;
//     min-width: 300px;
//   }
  
//   .user-table {
//     flex: 1 1 auto;
//     overflow: auto;
//     max-height: 500px;
//   }
  
//   .user-header-row, .user-row {
//     display: flex;
//     border-bottom: 1px solid #ccc;
//     align-items: center;
//     height: 32px;
//     padding: 0 8px;
//   }
  
//   .user-cell, .user-header-cell {
//     flex: 1;
//   }
  
//   .user-header-cell {
//     font-size: 12px;
//     font-weight: bold;
//     color: rgba(0, 0, 0, 0.54);
//   }
  
//   .user-cell {
//     font-size: 13px;
//     color: rgba(0, 0, 0, 0.87);
//   }



// .table-section {
//     color: black;

//     .mat-table {

//         // .mat-header-row {

//         // }
//         .mat-row {
//             cursor: pointer;
//             &:hover {
//                 background-color: $light-grey-blue;
//             }
//         }
//     }
// }